<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483727089654-evcphkjjbpt421mdlcdgpbi0bshcrgks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483727089654-evcphkjjbpt421mdlcdgpbi0bshcrgks</string>
	<key>API_KEY</key>
	<string>AIzaSyAV6GNqlkSj9GW2Sy6thF5Hi6Mznn6YY-s</string>
	<key>GCM_SENDER_ID</key>
	<string>483727089654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.shivandesai.OneStepCloser</string>
	<key>PROJECT_ID</key>
	<string>onestepcloser</string>
	<key>STORAGE_BUCKET</key>
	<string>onestepcloser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483727089654:ios:46fca6c37c9d1b59b0b1d7</string>
	<key>DATABASE_URL</key>
	<string>https://onestepcloser.firebaseio.com</string>
</dict>
</plist>